.app-hledger #app-content-wrapper {
	flex-direction: column;
}

table.hledger-report {
	padding: 20px !important;
}

table.hledger-report td {
	padding-left: 20px;
	padding-right: 20px;
}

table.hledger-report td.outline {
	border-top: 1px solid !important;
	border-bottom: 1px solid !important;
}

table.hledger-report td.indent {
	padding-left: 40px;
}

table.hledger-report div {
	padding-top: 1px;
	padding-bottom: 1px;
}

table.hledger-report button {
	min-height: 0;
	padding-top: 1px;
	padding-bottom: 1px;
}

div.hledger-add-transactions {
	width: 80vw;
	margin: 10vw 0;
	padding: 20px;
}

div.hledger-add-transactions input.wide {
	width: 100%;
}

div.hledger-add-transactions .postings {
	margin-left: 20px;
}
