.app-hledger #app-content-wrapper {
	flex-direction: column;
}

table.hledger-report {
	padding: 20px !important;
}

table.hledger-report td {
	padding-left: 20px;
	padding-right: 20px;
}

table.hledger-report td.outline {
	border-top: 1px solid !important;
	border-bottom: 1px solid !important;
}

table.hledger-report td.indent {
	padding-left: 40px;
}

table.hledger-report div {
	padding-top: 1px;
	padding-bottom: 1px;
}

table.hledger-report td:not(:first-child) div {
	text-align: right;
}

table.hledger-report button {
	min-height: 0;
	padding-top: 1px;
	padding-bottom: 1px;
}

.hl-transaction .modal-container {
	min-width: 375px;
	overflow-y: auto !important;
}

div.hledger-add-transactions {
	min-height: 330px;
	padding: 20px;
}

.hlt-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.hlt-wrap {
	flex-wrap: wrap;
}

.hlt-row input {
	flex-grow: 0;
}

.hlt-row .t-code {
	flex-grow: 1;
	margin-left: 3px;
}

.hlt-row #autosuggest,
.hlt-row .p-account,
.hlt-row .p-left,
.hlt-row .p-right {
	flex-grow: 1;
}

.hlt-row .p-account,
.hlt-row .p-comment,
.hlt-row .t-comment,
.hlt-row .t-description {
	width: 100%;
}

.hlt-row .p-amount {
	width: 75px;
	margin-left: 3px;
}
@media (min-width: 1024px) {
	.hlt-row .p-left,
	.hlt-row .p-right,
	.hlt-row .t-comment,
	.hlt-row .t-description {
		width: 50%;
	}

	.hlt-wrap {
		flex-wrap: nowrap;
	}
}

div.hledger-add-transactions .autosuggest__results-item--highlighted {
	background-color: rgba(51, 217, 178, 0.2);
}

div.hledger-add-transactions div.t-validation {
	display: inline-block;
	width: 434px;
}
